body {
    font-family: "Times New Roman", Times, serif;
    background-color: #fff;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-group label {
    align-self: flex-start;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.button-group input {
    background-color: #7DC855;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.button-group input[type="button"] {
    background-color: #ccc;
    color: #fff;
}
