<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
    <link rel="stylesheet" th:href="@{/css/editListing.css}">
</head>
<body>
<h1>Edit Listing</h1>
<form th:action="@{/editlisting}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${listing.title}" required>

    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="" disabled selected>Select a Category</option>
        <option value="electronics">Electronics</option>
        <option value="clothing">Clothing</option>
        <option value="furniture">Furniture</option>
        <option value="service">Services</option>
    </select>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:value="${listing.price}" step="0.01" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:text="${listing.description}" required></textarea>

    <label for="images">Images:</label>
    <input type="file" id="images" name="images[]" multiple accept="image/*" required>

    <input type="submit" value="Save Changes">
    <input type="button" value="Cancel">
</form>
</body>
</html>
