<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleas Not Found!</title>
    <link rel="stylesheet" href="../static/css/error.css">
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>All Fleas are hard at work</p>
        <a th:href="@{/}" >Go back to Home</a>
    </div>
</div>
</body>
</html>

