<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>CampusFlea Home</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/9113ff3c75.js" crossorigin="anonymous"></script>
    <link href="../src/main/resources/static/css/index.css" rel="stylesheet" > <!-- FOR DEV PURPOSES-->
</head>
<body>
<div class="sidebar">
    <span class="bg-color2"></span>
    <div class="logo">
        <img th:src="@{/images/Logos/logo.png}" alt="Logo">
    </div>
    <div class="container">
        <div class="user-profile">
            <span class="dots"></span>
                <!--<img src="user-profile.jpg" alt="User Profile"> User profile picture should be loaded from DB;-->
                <p><span th:text="${username}"></span></p> <!-- Username should be loaded from DB -->
                <p id="email"><span th:text="${email}"></span></p>
        </div>
    </div>
    <div class="nav-links">
        <ul>
            <li><a class="active" href="#"><i class="fa-solid fa-store"></i>Browse All</a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Selling</a></li>
            <li><a href="#"><i class="fa-solid fa-comments-dollar"></i>Buying</a></li>
            <li><a href="#"><i class="fa-regular fa-handshake"></i>Trades</a></li>
            <li><a href="#"><i class="fa-solid fa-bookmark"></i>Saved</a></li>
            <li><a href="#"><i class="fa-solid fa-message"></i>Messages</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="search-bar">
        <form action="#" method="POST"> <!-- action should link to endpoint which java handles with @WebServlet("/") -->
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" name="search_query" placeholder="Search..."> <!--"search_query" should be the request.getParameter("search_query"); -->

        </form>
    </div>
    <div class="grid-container">
        <!-- Repeat this block for each item -->
        <div class="grid-item">
            <a href="#">
            <img th:src="@{/images/List Items/item.jpg}" alt="Item 1">
            <span class="grid-title">
                <p>Item 1 Title</p>
                <p>$100</p>
            </span>
            </a>
        </div>
        <!-- Repeat this block for each item -->
        <div class="grid-item">
            <a href="#">
                <img th:src="@{/images/List Items/item.jpg}" alt="Item 1">
                <span class="grid-title">
                <p>Item Title</p>
                <p>$100</p>
            </span>
            </a>
        </div>
        <div class="grid-item">
            <a href="#">
                <img th:src="@{/images/List Items/item.jpg}" alt="Item 1">  
                <span class="grid-title">
                <p>Item Title</p>
                <p>$100</p>
            </span>
            </a>
        </div>
    </div>
</div>
</body>
</html>