<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/css/ListView.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{home}">
                <img th:src="@{/images/Logos/logo.png}" alt="Logo">
            </a>
        </div>
        <div class="profile-info">
            <img class="profile-picture" th:src="@{/images/profile.jpg}" alt="Profile Picture">
            <div class="profile-name">User Name</div>
        </div>
        <button class="back-button" onclick="history.back()">Back</button>
    </nav>
</header>

<main class="container">

    <!-- Left Column / Product Images -->
    <div class="left-column">
        <img th:src="${listing.image}" alt="ProductImage">
        <!-- Replace with the product images -->
    </div>
    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span th:text="${category}"></span>
            <h1 th:text="${listing.title}"></h1>
            <p th:text="${listing.description}"></p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- User Choice Configuration -->
            <div class="likeShare-config">

                <div class="user-choose">
                    <button onclick="save()">Save</button>
                    <button onclick="flag()">Flag</button>
                </div>
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span th:text="${'$' + listing.price}"></span>
            <a href="#" class="contactSeller-btn">Contact Seller</a>
        </div>
    </div>
    <script>
        function flag() {
            console.log("Item Flagged!");
        }

        function save() {
            console.log("Item Saved!");
        }
    </script>
</main>
</body>
</html>