<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<div class="logocontainer">
    <img th:src="@{/images/Logos/logo.png}" alt="Logo" class="logo">
</div>

<div class="container">
    <form th:action="@{/signup}" method="post">
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" class="text-box" required><br>
        </div>
        <!-- Password -->
        <div class="form-group">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="text-box" required><br>
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" class="text-box" pattern=".+@uncg\.edu" required><br>
            <small><i>*Email must be a UNCG email address.</i></small>
        </div>
        <!-- Signup Button -->
        <div class="btn-signin">
            <button type="submit">
                Sign Up
            </button>
        </div>
        <p>Already have an account? <a th:href="@{signin}">Sign in</a></p>
    </form>
</div>
</body>
</html>